* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navigation Bar */
.navBar {
    display: flex;
    align-items: center;
   background: linear-gradient(50deg, rgb(29, 27, 27) 0%,rgb(31, 30, 31),70%,rgb(120, 120, 122) 80%,rgb(245, 242, 242) 100%);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    height: 380px;
    width: 100%;
    transition: all 0.6s;
    position: fixed;
    top: 0px;
    left: 50%;
    border: 1px solid white;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 10px 10px;

  
}
.navBar.active a span {display: inline-block;vertical-align: middle;}

.navBar .img1{width: 4rem;}

.navBar.active.scrolled .img1{width: 5rem;border-radius: 50%;background-color: white;transition: 1.6s ease;border: 3px solid black;}




.navBar.active.scrolled{ background:linear-gradient(50deg, black, blue);height: 90px;}  

.navBar a{display: inline-flex;}





.navBar ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-top: 10px;
   position: absolute;left: 50%;transform: translate(-50%);  
z-index: 1000;
  text-align: center;
  transition: all 1.2 ease;
 font-size: 20px;
 
}

.btn{border: 5px solid black;background-color: black;}

.navBar ul li {
    margin-left: 10px;
    list-style: none;
    text-transform: uppercase;
    padding: 10px;
    opacity: 1;
    transition: all 0.6s;

    
}


/* Staggered rotation animation for each menu item */
.navBar.active ul li:nth-child(1) {
     transform: translateY(-20%);
    transition: 0.1s ease;
    
}

.navBar.active ul li:nth-child(2) {
    transform: translateY(-20%);
    transition: 0.2s ease;
}

.navBar.active ul li:nth-child(3) {
    transform: translateY(-20%);
    transition: 0.3s ease;
}

.navBar.active ul li:nth-child(4) {
    transform: translateY(-20%);
    transition: 0.4s ease;
}

.navBar.active ul li:nth-child(5) {
    transform: translateY(-20%);
    transition: 0.5s ease;
}

.navBar.active ul li:nth-child(6) {
    transform: translateY(-20%);
    transition: 0.6s ease;
    
   
}

.navBar ul li a {
    text-decoration: none;
    color: White;
    font-weight: 600;
    transition: color 0.3s;
 
   
}

.navBar ul li a:hover{color: blue;}




/* Hamburger Button */
.navBar .btn {
    height: 320px;
    width: 100%;
   
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: auto;
   
}



/* Hamburger Lines */
.navBar .btn .line1,
.navBar .btn .line2 {
    position: absolute;
    height: 3px;
    width: 25px;
    background-color: #333;
    left: 95%;
    transform: translateX(-50%);
    transition: all 0.6s;
    background-color: rgb(36, 8, 242);
    
}

.navBar img{width: 100px;position: absolute;left: 45%;transform: translate(-50%);opacity: 0;transition: all 0.3s ease;top: 4%;}

.navBar.active img{opacity: 1; transition: all 0.6s ease;transform: translate(-20%)rotate(20deg)}

.navBar .btn .line1 {
   top:  5px;
}

.navBar .btn .line2 {
    top: 15px;
}

/* Collapsed Navigation State */
.navBar.active {
    height: 70px;
    transition: all 0.6s;
   
}

.navBar.active ul {
    width: 0;
    overflow: hidden;
   
}

.navBar.active ul li {
    width: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
   
    
}

/* X Icon when collapsed */
.navBar.active .line1 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: 0.6s;
    background-color: white;
}

.navBar.active .line2 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: 0.6s;
    background-color: white;
}


